<div class="YZEVERETENO chat-item">
    <div class="header">
        <img src="{{god}}" class="chat-item-img" title="{{localize (getItemTypeName item.type)}}">
        <h3><strong>{{item.name}}</strong></h3>

        {{#if_eq item.type 'talent'}}
        <h4>[ {{localize (getTalentCategoryName item.system.category)}} ]</h4>
        {{else}}
        {{#if item.system.explosive}}
        <h4>[ {{localize  "YZEVERETENO.Explosive"}} ]</h4>
        {{else}}
        <h4>[ {{localize (getItemTypeName item.type)}} ]</h4>
        {{/if}}
        {{/if_eq}}
    </div>

    <!-- ARMOR DATA -->
    {{#if_eq item.type 'armor'}}
    <div>
        {{#if item.system.restricted}}
        <p><strong>{{localize "YZEVERETENO.Restricted"}}</strong></p>
        {{/if}}
        <p><strong>{{localize "YZEVERETENO.TechTier"}} : </strong>{{getTechTierName item.system.techTier}}</p>
        <p><strong>{{localize "YZEVERETENO.ArmorRating"}}: </strong>{{item.system.armorRating}}</p>
        <p><strong>{{localize "YZEVERETENO.Weight"}} : </strong>{{ getWeightName item.system.weight}}</p>
        <p><strong>{{localize "YZEVERETENO.Cost"}} : </strong>{{item.system.cost}} {{localize "YZEVERETENO.Sver"}}</p>
    </div>
    {{/if_eq}}

    <!-- GEAR DATA -->
    {{#if_eq item.type 'gear'}}
    <div>
        {{#if item.system.restricted}}
        <p><strong>{{localize "YZEVERETENO.Restricted"}}</strong></p>
        {{/if}}
        <p><strong>{{localize "YZEVERETENO.TechTier"}} : </strong>{{getTechTierName item.system.techTier}}</p>
        <p><strong>{{localize "YZEVERETENO.Weight"}} : </strong>{{ getWeightName item.system.weight}}</p>
        <p><strong>{{localize "YZEVERETENO.Cost"}} : </strong>{{item.system.cost}} {{localize "YZEVERETENO.Sver"}}</p>
    </div>
    {{/if_eq}}

    <!-- INJURY DATA -->
    {{#if_eq item.type 'injury'}}
    <div>
        {{#if item.system.fatal}}
        <p><strong>{{localize "YZEVERETENO.FatalInjury"}}</strong></p>
        {{/if}}
        <p><strong>{{localize "YZEVERETENO.InjuryTimeLimitRoll"}} : </strong>{{item.system.timeLimit}}</p>
        <p><strong>{{localize "YZEVERETENO.InjuryHealTimeRoll"}} : </strong>{{item.system.healTime}}</p>
    </div>
    {{/if_eq}}

    <!-- TALENT DATA -->
    {{#if_eq item.type 'talent'}}
    <div>
        {{#if item.system.cost}}
        <p><strong>{{localize "YZEVERETENO.Cost"}} : </strong>{{item.system.cost}} {{localize "YZEVERETENO.Sver"}}</p>
        {{/if}}
        {{#if item.system.hpBonus}}
        <p><strong>{{localize "YZEVERETENO.HPBonus"}}: </strong>{{item.system.hpBonus}}</p>
        {{/if}}
        {{#if item.system.mpBonus}}
        <p><strong>{{localize "YZEVERETENO.MPBonus"}}: </strong>{{item.system.mpBonus}}</p>
        {{/if}}
    </div>
    {{/if_eq}}

    <!-- WEAPON DATA -->
    {{#if_eq item.type 'weapon'}}
    <div>
        {{#if item.system.restricted}}
        <p><strong>{{localize "YZEVERETENO.Restricted"}}</strong></p>
        {{/if}}
        <p><strong>{{localize "YZEVERETENO.TechTier"}} : </strong>{{getTechTierName item.system.techTier}}</p>
        <p><strong>{{localize "YZEVERETENO.Weight"}} : </strong>{{ getWeightName item.system.weight}}</p>
        <p><strong>{{localize "YZEVERETENO.Cost"}} : </strong>{{item.system.cost}} {{localize "YZEVERETENO.Sver"}}</p>
        <p><strong>{{localize "YZEVERETENO.Bonus"}}: </strong>{{item.system.bonus}}</p>
        <p><strong>{{localize "YZEVERETENO.Initiative"}}: </strong>{{item.system.initiative}}</p>
        <p><strong>{{localize "YZEVERETENO.Damage"}} : </strong>{{item.system.damage}}</p>
        <p><strong>{{localize "YZEVERETENO.Crit"}} : </strong>{{getWeaponCritDisplay item.system.crit}}</p>
        {{#if item.system.explosive}}
            <p><strong>{{localize "YZEVERETENO.BlastPower"}} : </strong>{{item.system.blastPower}}</p>
            <p><strong>{{localize "YZEVERETENO.BlastRadius"}} : </strong>{{item.system.blastRadius}}</p>
        {{else}}
            <p><strong>{{localize "YZEVERETENO.Range"}} : </strong>{{getRangeName item.system.range}}</p>
            {{#if item.system.automatic}}
            <p><strong>{{localize "YZEVERETENO.Automatic"}}</strong></p>
            {{/if}}
        {{/if}}
    </div>
    {{/if_eq}}

    <!-- FEATURES -->
    {{#if item.system.special}}
      <strong style="border-bottom: 1px solid var(--color-underline-header);">{{localize "YZEVERETENO.Special"}}</strong>
      <ul>
        {{#each item.system.special as |feature id|}}
          <li data-item-id="{{id}}">{{feature}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <!-- ITEM-MODIFIERS -->
    {{#if itemModifiers}}
      <strong style="border-bottom: 1px solid var(--color-underline-header);">{{localize "YZEVERETENO.ItemModifiers"}}</strong>
      <ul>
        {{#each itemModifiers as |itemModifier id|}}
          <li data-item-id="{{id}}">{{localize (getItemModifierName mod)}}: {{value}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <!-- DESCRIPTION -->
    {{#if item.system.description}}
      <strong style="border-bottom: 1px solid var(--color-underline-header);">{{localize "YZEVERETENO.Description"}}</strong>
      {{{item.system.description}}}
    {{/if}}
</div>
