<div style="padding: 1em 1em;">
  <h3>{{localize "YZEVERETENO.AutomaticFire"}}</h3>
  <input type='checkbox' name='automaticFire' {{#if automaticFire}}checked{{/if}} data-dtype='Boolean' />
  <label style="position:relative; bottom:6px;">{{localize "YZEVERETENO.AutomaticFire"}}</label>
  {{#if automaticFire}}
    <span style="position:relative; bottom:6px;">({{localize "YZEVERETENO.AutomaticFireModifier"}})</span>
    <br>
    <input type='checkbox' name='machineGunner' {{#if machineGunner}}checked{{/if}} data-dtype='Boolean' />
    <label style="position:relative; bottom:6px;">{{localize "YZEVERETENO.Talent"}}: {{localize "YZEVERETENO.TalentMachinegunner"}}?</label>
    <br>
    <input type='checkbox' name='highCapacity' {{#if highCapacity}}checked{{/if}} data-dtype='Boolean' />
    <label style="position:relative; bottom:6px;">{{localize "YZEVERETENO.Weapon"}}: {{localize "YZEVERETENO.FeatureWeaponHighCapacity"}}?</label>
  {{/if}}
</div>